.consultation-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #ffa81c 0%, #e8c900 74%);
}
.consultation-desc {
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 28px;
    color: #fff;
    text-align: center;
}
.consultation-btn {
    text-decoration: none;
    border: 2px solid #fff;
    font-size: 25px;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}